<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>solarcalculator.io | Discover Your Solar Energy & Cost Savings</title>
    <meta name="Description" content="solarcalculator.io is a free tool to instantly calculate your system costs, rebates and solar energy potential. Discover your solar savings today.">
    <meta name="Keywords" content="solar calculator, solar savings, solar energy">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="../static/css/styles.css">

    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123358096-1"></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments)};
     gtag('js', new Date());

     gtag('config', '{{ config.GOOGLE_ANALYTICS_ID }}');
    </script>

</head>
<body>
    <script>
        window.MAPS_KEY = '{{ config.MAPS_KEY }}';
    </script>

    <div id="app" class="site-wrapper">

    </div>

    <script src="../static/javascript/bundle.js" type="text/javascript"></script>
</body>
</html>
